body {
  background-color: #f3f2ef;
}

.container-fluid {
  padding: 0;
}

nav {
  background-color: white;
}

.logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-left: 8px;
}

.input-group-text {
  background-color: #edf3f8;
  border: none;
  border-radius: 4px;
  color: #6c757d;
  height: 30px;
}

.form-control {
  border: none;
  border-radius: 4px;
  box-shadow: none;
  background-color: #edf3f8;
  height: 30px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #666;
}

.nav-item p {
  margin: 0;
  font-size: 12px;
}
button {
  border: none;
  background-color: white;
}
.my-bg {
  background-color: white;
}
.my-bg:hover {
  background-color: rgb(55 143 233 / 10%);
}
.my-bg2:hover {
  background-color: rgb(140 140 140 / 10%);
}
.my-btn {
  background-color: rgb(13 110 253);
}
.btn.my-btn:hover {
  background-color: #004182;
}
.profile {
  border-radius: 50%;
  border: none;
  height: 24px;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  width: 24px;
  min-width: 24px;
}
.t-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 12px;
  color: #666;
}
.h-100 {
  height: 100vh;
}
.imgp {
  position: relative;
}

.sect {
  background-color: #efdfc8;
}

.h-my {
  height: 320px;
}

.lh-1 {
  margin: 0;
}

.w-img-esp {
  width: 50px;
  height: 50px;
}
.lh-1 a {
  color: black;
  text-decoration: none;
}

.lh-1 a:hover {
  text-decoration: underline;
  color: rgb(13 110 253);
  cursor: pointer;
}

.my-width-btn-aside {
  width: 120px;
}

.linkpremium {
  color: #cb8209;
  font-size: 0.9rem;
}
.carousel-indicators {
  display: none;
}
.list-group-item {
  border: none;
}
/* SideBarHome */
.picImage {
  position: absolute;
  top: 110px;
  left: 65px;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.addPerson {
  z-index: 1000;
  color: black;
  padding-left: 90%;
}
/* MainHome */
.carouselButton {
  background-color: #0d65c2;
}
